version: "3.9"

services:
  frontend:
    container_name: historymind-fe
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    environment:
      - VITE_API_URL=http://localhost:8080
      - VITE_AI_URL=http://localhost:8000
